<% layout('layout') %>
<script src="/js/addExpense.js"></script>
<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4 text-center">
            <div style="font-size: xx-large; font-weight: bold">Add Expense</div>
            <hr>
            <form method="post">
                <div class="form-group">
                    <label for="category">Category : </label>
                    <select class="form-control" id="category" name="category" required>
                        <option value="">Select Category</option>
                        <option value="Food and Drinks">Food and Drinks</option>
                        <option value="Health">Health</option>
                        <option value="Leisure">Leisure</option>
                        <option value="Transportation">Transportation</option>
                        <option value="Others">Others</option>
                    </select>
                </div>
                <div class="form-group">
                    <label fo   r="date">Date : </label>
                    <br>
                    <input type="date" name="date" id="date" min='1899-01-01' max='2000-13-13' required>
                </div>
                <div class="form-group">
                    <label for="amount">Amount : </label>
                    <div class="input-group mb-2 mb-sm-0">
                        <div class="input-group-addon">Rs.</div>
                        <input type="number" class="form-control" id="amount" name="amount" required>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-md btn-info">Add</button>
                </div>
            </form>
        </div>
    </div>
</div>