<% layout('layout')%>
<script src="/js/signup.js"></script>
<div class="container">
    <h1>Sign Up</h1>
    <hr>
    <div class="row">
        <div class="col-lg-6">
            <% if(errors.length>0) {%>
            <div class="alert alert-danger alert-dismissable">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
                <%= errors %>
            </div>
            <%}%>
            <form method="post">
                <div class="form-group">
                    <label for="name">Name : </label>
                    <input class="form-control press" name="name" type="text" id="box-name" required onfocusout="myFunction1()">
                </div>
                <div class="form-group">
                    <label for="email">Email : </label>
                    <input class="form-control press" name="email" type="email" id="box-email" onfocusout="myFunction2()" required>
                </div>
                <div class="form-group">
                    <label for="password">Password : </label>
                    <input class="form-control press" name="password" type="password" id="box-password" onfocusout="myFunction3()" required>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-success btn-lg" id="signup">Signup</button>
                </div>
            </form>
        </div>
    </div>
</div>
