<% layout('layout') %>

<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/numeric/1.2.6/numeric.min.js"></script>
<script src="/js/stats.js"></script>
<div class="container">
    <div class="row">
        <div id="graph1"></div>
    </div>
    <div class="row">
        <div id="chart" style="width:100%">
        </div>
    </div>
</div>